* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* .button {
  font-size: 15px;
  text-decoration: none;
  background-color: #3E8DA8;
  color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
}

.button:hover {
  border: 1px solid grey;
  background-color: #62b1cb;
} */

.millionClass {
  background-image: url("images/home1.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.millionClass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.counter {
  font-size: 70px;
  font-weight: bold;
  z-index: 1;
}

.hungry {
  font-size: 40px;
  font-weight: bold;
}

mark {
  position: relative;
  color: white;
  background-color: rgba(255, 230, 146, 0);
  margin: auto;
}

mark::before {
  color: rgb(0, 0, 0);
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 230, 148);
  animation: animate 2s ease forwards;
}

@keyframes animate {
  0% {
    width: 0%;
  }

  70% {
    width: 100%;
  }
}

.whatWeDo {
  background-color: #e8e8e8;
}

.whatWeDo2 {
  background-color: rgb(249, 249, 241);
}

.whatWeDoImg {
  height: 300px;
  width: 300px;
}

.highlight {
  font-weight: 600;
  background: linear-gradient(to bottom, transparent 60%, #39bcfe4c 50%);
}

.highlight2 {
  font-weight: 600;
  background: linear-gradient(to bottom, transparent 60%, #af3fff30 50%);
}

.highlight3 {
  font-weight: 600;
}

.showSupport {
  font-weight: 600;
}

/* .donateContainer {
  height: 500px;
} */

/* Donate Now button FOOD */
.text {
  font-weight: 600;
  font-size: medium;
}

.donateNowBtn {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: linear-gradient(0deg, #2eaec0, #118ecd);
}

.donateNowBtn:hover {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: linear-gradient(0deg, #5db7c3, #3a9ecf);
  box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.726), 0px 0px 0px 0px #9917ff;
  transform: translateY(2px);
}

.donateNowBtn .text {
  color: white;
  transform: scale(1.1);
}

.donateNowBtn .sparkle {
  fill: white;
  transform: scale(1.3);
}

/* Donate Now button BOOK */
.text {
  font-weight: 600;
  font-size: medium;
}

.donateNowBtn2 {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: linear-gradient(0deg, #cfc65f, #ad9f20);
}

.donateNowBtn2:hover {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: linear-gradient(0deg, #bab255, #a1941d);
  box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.726), 0px 0px 0px 0px #9917ff;
  transform: translateY(2px);
}

.donateNowBtn2 .text {
  color: white;
  transform: scale(1.1);
}

.donateNowBtn2 .sparkle {
  fill: white;
  transform: scale(1.3);
}

/* Know More Btn */
.text2 {
  font-weight: 600;
  font-size: medium;
}

.knowMoreBtn {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: linear-gradient(0deg, #bababa, #a4a4a4);
}

.knowMoreBtn:hover {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: linear-gradient(0deg, #b3b2b2, #616161);
  box-shadow: inset 0px 3px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.726), 0px 0px 0px 0px #9917ff;
  transform: translateY(2px);
}

.knowMoreBtn .text2 {
  color: white;
  transform: scale(1.1);
}

.knowMoreBtn .sparkle {
  fill: white;
  transform: scale(1.3);
}

.knowMoreBottomSpace {
  padding-bottom: 30px;
}

.bookDiv {
  background-image: url(images/home9.jpg);
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50%;
  /* display: flex;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  color: rgb(255, 255, 255); */
}

.image-container {
  /* height: 300px; */
  max-width: 50%;
}

.text-container {
  max-width: 50%;
}

.bookDonationText {
  background-color: #effaff;
}

.bookDonation2 {
  margin-top: 100px;
}

.bookDonation3 {
  font-weight: 600;
}

.bookDonation4 {
  line-height: 2;
}

.col {
  padding-bottom: 10px;
}

@media (max-width: 920px) {
  .bookDonation2 {
    margin-top: 10px;
  }

  .knowMoreBottomSpace {
    padding-bottom: 60px;
  }

  .col {
    padding-bottom: 30px;
  }
}
