/* Custom styles for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  position: relative;
  margin: 10% auto;
  /* padding: 20px; */
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
}

.modal-content {
  padding: 20px;
  border: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
}
